<div class="row mt-5">
    {% for card in card_collection %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <img src="{{ card.image_url }}" class="card-img-top" alt="{{ card.image_alt }}">
            <div class="card-body">
                <h5 class="card-title">{{ card.name }}</h5>
                <p class="card-text">{{ card.description }}</p>
                <div class="d-flex justify-content-between align-middle text-center">
                    <a href="{{ card.link }}" class="btn btn-primary ">BUY</a>
                    <div class="mt-2">{{card.price}} $</div>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
</div>